doctype html
html
    include header.pug
        title 야사사잇
    body
        div(class='jumbotron')
            div(class='container' text-align='center')
                h1(class='display') 어서와~
        div(class='container')
            div(class='text-center')
                h3 사심가득한페이지!
                img(src='/images/img.png', style='width=50%')
        hr
        div
            div(style='float : left')
                a(href='https://dda.ac') DDA.AC

                p 따아아아아아아아악


            div(style='float : right')
                 a(href='/') 사용자들 게시판 관리페이지..


